<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="interval" value="15" />
    <add key="authorizationToken" value="Basic YXBpa2V5OlNlY3JldEtleQ==" />
    <add key="authCookie" value="3fKBLD9P0m0FTCcA10m5_5sT94H0987DZnQpDewa1iKvLHxwXMjjEJAMFn1Gco3gh7bs7u_rgtaxHdsjEA_M-s35jDFTdFDdszkKE8uQ5rwkf2QOc7im4-wy-payPE8cA8MtmVjclGtcrD1aS6WK0w2" />
    <add key="emailSmtp" value="smtp.gmail.com" />
    <add key="emailUsername" value="barboratest123@gmail.com" />
    <add key="emailPassword" value="naujas11" />
    <add key="deliveryEmail" value="" />
  </appSettings>
</configuration>